.divider {
    position: absolute;
    top: 0;
    background: red;
    cursor: col-resize;
    z-index: 9999;
    flex-shrink: 0;
    transition: background 0.2s ease;
}

.divider:hover {
    background: rgba(136, 58, 234, 0.5);
}

.divider.dragging {
    background: rgb(136, 58, 234);
}

@media (max-width: 1200px) {
    .divider {
        display: none;
    }
}
