---
import { getCollection } from "astro:content";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Press from "../components/Press.astro";


const allArticles = await getCollection('article')
allArticles.reverse()



---

<Layout title="News++">
	<main>
		<Press />
		<ul class="card-grid">
			{
				allArticles.map((article) => (
					<Card
					href={`/news-plus-plus/posts/${article.slug}`}
					title={article.data.title} 
					img={article.data.img}
					/>

				))
			}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		width: 70%;
		color: white;
		font-size: 20px;
		line-height: 1.6;
		min-width: 15rem;
	}

	h1 {
		font-size: 4rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}

	.card-grid {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		width: 100%;
		flex-wrap: wrap;
		height: auto;
		margin: auto;
		justify-content: space-between;
		padding-left: 0;
		max-width: 80rem;
	}
</style>
