---
import Layout from "./Layout.astro";

interface Props {
    title: string;
    img: string;
}

const { title, img } = Astro.props;
---

<Layout title={title} img={img}>
    <main class="layout-primary-content">
        <slot />
    </main>
</Layout>

<style>
    .layout-primary-content {
        width: 100%;
        height: calc(100dvh - 4.25rem);
        overflow: hidden;
    }
</style>
